<app-navbar></app-navbar>
<div class="About">
    <div class="questions">
       <h1 class="heading"><i class="fa-solid fa-circle"></i> <span>Why klasroom ?</span></h1>
        <p>
          The Purpose of creating this klasroom is to help a group of people
          or college students who can share their resources with one another so
          that it easy to prepare for the exam.
        </p>
    </div>
    <div class="questions">
      <h1 class="heading"><i class="fa-solid fa-circle"></i> <span>Want to contribute to klasroom ❤️</span></h1>
        <p>
          Before contributing to klasroom you need to have a account. Register yourself and login with 
          your credentials and click on the add resources button, Here select the year, branch and the description
          to look the description you can use the markdown. You can know more about the markdown by clicking on the 
          know more.
        </p>
    </div>
</div>