:host {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    height: 100vh;
}

.About {
    margin-right: 20%;
    margin-left: 10%;
    margin-top: 5%;

    .fa-circle {
        font-size: 15px;
    }

    .questions {
        padding: 10px;
        font-size: 30px;

        .heading {
            display: flex;
            align-items: center;
            gap: 10px;
        }
       
    }
}
