.p-30 {
    padding: 30px !important;
}
.add-resource {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    .add-form-elements {
        margin: 10px;
        .add-btn,
            select,
            input {
                width: 400px;
                height: 40px;
            }
        textarea {
            width: 400px;
            height: 100px;
        }
        input,
        textarea {
            padding: 5px;
        }
    }

    .add-alert {
        width: 400px;
    }
}