<app-navbar></app-navbar> 
<div class="add-resource">
  <div class="p-30" style="background-color: #f5f5f5">
    <h1 class="text-center">Resource 📤</h1>
    <form class="add-form" [formGroup]="addResource" (ngSubmit)="onSubmit()">
        <div class="add-form-elements">
         <mat-form-field class="example-full-width" >
                <mat-label>Enter Title</mat-label>
                <input formControlName="title" matInput placeholder="Title">
          </mat-form-field>
        </div>
        <div class="add-form-elements">
        <mat-form-field appearance="fill">
            <mat-label>Select Year</mat-label>
            <mat-select formControlName="year">
                <mat-option *ngFor="let year of yearArray" [value]="year.value">
                {{year.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>

        <div class="add-form-elements">
            <mat-form-field appearance="fill">
                <mat-label>Select Branch</mat-label>
                <mat-select formControlName="branch">
                    <mat-option *ngFor="let branch of branchArray" [value]="branch.value">
                    {{branch.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="add-form-elements">
        <h5>
            <span style="font-size: 15px">
            ( you can use markdown
            <a href="https://wordpress.com/support/markdown-quick-reference/" style="text-decoration: none" target="_blank" rel="noreferrer">know more</a>
            )
            </span>
        </h5>
         <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        </div>
        <div class="add-form-elements">
        <input type="submit" class="add-btn btn btn-primary" value="Submit"/>
        </div>
        <div class="add-form-elements add-alert alert alert-success">
        <p>
            Share the resource which you feel helpful and don't share any
            unnecessary stuff here.
        </p>
        </div>
    </form>
  </div>
</div>