<app-navbar></app-navbar> 

<div class="main-bar"> 
    <!-- filter-->
    <div class="filter">
        <mat-form-field appearance="fill">
            <mat-label>Select Year</mat-label>
            <mat-select [(ngModel)]="filterYear" (selectionChange)="onYearFilterChange()"  multiple>
                <mat-option *ngFor="let year of yearArray" [value]="year.value">
                {{year.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Select Branch</mat-label>
            <mat-select [(ngModel)]="filterBranch" (selectionChange)="onBranchFilterChange()" multiple>
                <mat-option *ngFor="let branch of branchArray" [value]="branch.value">
                {{branch.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="search-box">
            <mat-label>Search ...</mat-label>
            <input matInput [(ngModel)]="searchTerm" />
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" class="add-resource-btn" (click)="navigateToAddResource()">Add Resource</button>
    </div>
    <div class="resources">
        <ng-container *ngFor="let data of resources | filter : searchTerm : 'title'">
            <div class="resource" (click)="navigateToResource(data._id)">
                 <div class="tags">
                <div class="square" [class]="yearTags[data.year]"></div>
                <span>
                    {{"#" + data.year + yearTags[data.year] + " " + "#" + data.branch}}
                </span>
                </div>
                <div class="heading">{{data.title}}</div>
                <div class="author-date">
                    <span>{{"-" + data.user.name}}</span>
                    <span>{{data.formattedDate}}</span>
                </div>
            </div>
        </ng-container>
    </div>
</div>

