.mb-5p {
    margin-bottom: 5px;
}

.navbar {
    background-color: #282828 !important;
}

.logo {
    font-family: 'Roboto Mono', monospace;
}


.fa-question-circle, .fa-circle-user {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    padding: 0 10px;
}

.authIcons:hover {
    background-color: #cccccc
}



// ::ng-deep {
//     .cdk-overlay-connected-position-bounding-box {
//         position: absolute;
//         left: unset;
//         right: 25px !important;
//         top: 6% !important;     
//         height: 50px !important;
//         width: 190px !important;
        
//     }
//     .mat-mdc-menu-panel.mat-mdc-menu-panel {
//         background-color: #fcfcfc !important;
//         border: 2px solid #ccc;
//         width: 190px !important;
//     }
// }