.mb-5p {
    margin-bottom: 5px;
}

.fa-book, .fa-plus-circle {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.fa-question-circle {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}