<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="nav-icons container">
    <div>
        <h1 class="navbar-brand text-white logo" style="cursor: pointer" (click)="navigateTo('')"> klasroom </h1>
    </div>
    <div class="mb-5p">
        <i class="fa-solid fa-circle-user" [matMenuTriggerFor]="menu"></i>
        <i class="fa fa-question-circle" aria-hidden="true" (click)="navigateTo('/about')"></i>
        <mat-menu #menu="matMenu">
          <button class="authIcons" mat-menu-item *ngIf="!isLogged" (click)="navigateTo('/login')"><i class="fa-solid fa-right-to-bracket"></i> Login/Register</button>
          <button class="authIcons" mat-menu-item *ngIf="isLogged" (click)="logOut()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
        </mat-menu>
    </div>
  </div>
</nav>



