<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="nav-icons container">
    <div>
        <h1 class="navbar-brand text-white" style="cursor: pointer" (click)="navigateToHome()"> Exam Guide </h1>
    </div>
    <div class="mb-5p">
      <i class="fa fa-book" (click)="navigateToHome()" aria-hidden="true"></i>
      <i class="fa fa-plus-circle" aria-hidden="true" (click)="navigateToAddResource()"></i>
      <i class="fa fa-question-circle" aria-hidden="true" (click)="navigateToAbout()"></i>
    </div>
  </div>
</nav>
